nav {
	display: inline-block;
	border-bottom: 1px solid rgba(255,62,0,0.1);
	font-weight: 300;
	padding: 0 1em;
}

ul {
	list-style-type: none;
	margin: 0.5em;
	padding: 0;
}

li {
	list-style: none;
	display: block;
	float: left;
}

a {
	text-decoration: none;
	padding: 1em 0.5em;
	display: block;
}